body{
    font-family: "Lato", sans-serif;
    max-width: 75rem;
    margin: auto;
    height: 100vh;
}

header{
    background-image:url(SharingFood.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height:200px;
    width: 100%;
    margin: auto;
}

/**** Menu Style *****************************************/
nav {
    border-bottom: 1px solid black;
}

ul.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navlist li
{
    float: left;
    display: inline;
}

ul.navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navlist li a:hover {
    background-color: #111;
}

/**** Styling for main part */

main {
    border-bottom: 0.5rem solid;
    box-sizing: border-box;
    /*ToDo: Make this a flexible container; 
    You can find the following helpful: display, flex-wrap, width, min-height, height
    See lecture slides*/
}

section, aside {
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 100%;
}

aside {
    /*ToDo: Set width.ToDo: For fluid layouts, use min-width, max-width, and set to relative 
   values, like 25% of the page.*/ 
    background-color: #deded8;
}

section {
    /*ToDo: Set width. For fluid layouts, use min-width, max-width, and set to relative 
   values, like 75% of the page.*/
}

/*Styling for search in aside*/
.search{
    display: block;
    width: auto;
    text-align: left;
}

.center {
    /*ToDo: Styling for centered elements
    You can use margin, width useful to center.
    */
    border: 3px solid green;
    padding: 10px;
  }

/* Styling for text inputs in the form*/
.textInput {
    display: block;
    width: auto;
    text-align: left;
}

/*Styling with a media query - lecture slide 36*/
@media screen and (max-width: 700px) {
    /* ToDo: Style aside and section so that they take 100% width on small screens*/
    aside {
    
    }
    
    section {
 
    }

    #hiddenSection{
        overflow-wrap: break-word;
    }

}
