body{
    font-family: "Lato", sans-serif;
    max-width: 75rem;
    margin: auto;
    height: 100vh;
}

header{
    background-image:url(SharingFood.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height:200px;
    width: 100%;
    margin: auto;
}

/**** Menu Style *****************************************/
nav {
    border-bottom: 1px solid black;
}

ul.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #040404;
}

ul.navlist li
{
    float: left;
    display: inline;
}

ul.navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navlist li a:hover {
    background-color: #111;
}

/**** Styling for main part */

main {
    display: flex; /* Aligns children to the right */
    height: 100%;
 
 }
 

section {
    section {
        background-color: #f0f0f0; /* Light background for the form */
        width: 75%;                /* Width of the section */
        padding: 1rem;            /* Padding for the section */
        box-sizing: border-box;   /* Include padding in width calculation */
    }
}

aside {
    background-color: #deded8; /* Light gray background */
    width: 25%;                /* Set width of the aside */
    min-width: 200px;         /* Minimum width */
    max-width: 300px;         /* Maximum width */
    padding: 1rem;            /* Padding for the aside */
    box-sizing: border-box;   /* Include padding in width calculation */

}

section {
    /*ToDo: Set width. For fluid layouts, use min-width, max-width, and set to relative 
   values, like 75% of the page.*/
}

/*Styling for search in aside*/
.search{
    display: block;
    width: auto;
    text-align: left;
}

.center {
    display: flex;                     /* Make it a flex container */
    flex-direction: column;           /* Stack children vertically */
    border: 3px solid green; /* Updated border color */
    padding: 1.5rem;                     /* Increased padding for better spacing */
    width: 90%;                          /* Adjusted width for more presence */
    margin: 1rem auto;                  /* Center the element and add top/bottom margin */
    margin-left: 50%;                   /* Added left margin to move it more to the right */
   
}

/* Styling for text inputs in the form*/
.textInput {
    display: block;
    width: auto;
    text-align: left;
}

.search {
    padding: 10px;
    margin-bottom: 20px;
}

.search input {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 10px;
}

/*Styling with a media query - lecture slide 36*/
@media screen and (max-width: 700px) {
    /* ToDo: Style aside and section so that they take 100% width on small screens*/
    aside {
    
    }
    
    section {
 
    }

    #hiddenSection{
        overflow-wrap: break-word;
    }

}
