/* General Styling */
body {
    font-family: "Lato", sans-serif;
    max-width: 75rem;
    margin: auto;
    height: 100vh;
}

header {
    background-image: url(SharingFood.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    width: 100%;
    margin: auto;
}

/* Menu Style */
nav {
    border-bottom: 1px solid black;
}

ul.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navlist li {
    float: left;
}

ul.navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navlist li a:hover {
    background-color: #111;
}

/* Main Layout */
main {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.5rem solid;
    box-sizing: border-box;
}

section, aside {
    padding: 0.5rem;
    box-sizing: border-box;
}

aside {
    min-width: 25%;
    max-width: 30%;
    background-color: #deded8;
}

section {
    min-width: 70%;
    max-width: 75%;
}

/* Styling for centered form */
.center {
    border: 3px solid green;
    padding: 10px;
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
}

/* Styling for text inputs in the form */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Responsive Layout */
@media screen and (max-width: 700px) {
    aside, section {
        min-width: 100%;
        max-width: 100%;
    }
}